body
{
	min-width: 450px;
	max-width: 1200px;
	margin: auto;
}

h1
{
	margin-left: 30px;
}

.navbar-brand
{
	font-size: 24px;
	padding: 0;
	color: #fff;
}

.navbar-brand:hover
{
	color: #fff;
}

.navbar-custom 
{
    background-color: #337ab7;
    margin-bottom: 0;
}

.form-group
{
	margin: 0 20px 20px 20px;
}
.form-group input[type="checkbox"], .form-group input[type="radio"]
{
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span,
.form-group input[type="radio"] + .btn-group > label span
 {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child,
.form-group input[type="radio"] + .btn-group > label span:first-child
{
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child,
.form-group input[type="radio"] + .btn-group > label span:last-child
{
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child,
.form-group input[type="radio"]:checked + .btn-group > label span:first-child
{
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child,
.form-group input[type="radio"]:checked + .btn-group > label span:last-child
{
    display: none;   
}

.list-group a
{
	margin: 20px 0 0;
}

.list-group 
{
	margin-top: 20px;
}

.separate
{
	clear: left;
}

.media img
{
	display: inline-block;
	margin-bottom: 20px;
}

.separator
{
	width: 200px;
	height: 3px;
	margin: 30px auto 30px auto;
	background-color: #968e8e;
}