h1
{
	font-size: 24px;
    line-height: 1.35;
    font-weight: normal;
    padding: 50px;
    border-bottom: 1px solid #000;
    text-align: center;
}

form
{
	width: 400px;
    margin: auto;
}

.group
{
	width: 400px;
	margin-bottom: 20px;
	line-height: 1.5;
}