header, .glyphicon-home
{
	background-color: #669999;
	text-align: center;
	color: #fff;
}

.form-group
{
	margin: 0 20px;
}
.form-group input[type="checkbox"], .form-group input[type="radio"]
{
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span,
.form-group input[type="radio"] + .btn-group > label span
 {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child,
.form-group input[type="radio"] + .btn-group > label span:first-child
{
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child,
.form-group input[type="radio"] + .btn-group > label span:last-child
{
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child,
.form-group input[type="radio"]:checked + .btn-group > label span:first-child
{
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child,
.form-group input[type="radio"]:checked + .btn-group > label span:last-child
{
    display: none;   
}

.date
{
	max-width: 400px;
}

div .container
{
	 max-width: 400px;
}

.list-group a
{
	margin: 20px 0 20px 0;
}

.list-group 
{
	margin-top: 20px;
}

